#header {
	height: 75px;
	width: 100%;
	background-color: var(--header-background-color);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em;
	box-sizing: border-box;
}
